In [3]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from census_key import census_key
c = Census(census_key, year=2012)

In [9]:
census_data = c.acs5.get(("NAME", "B25035_001E", 
                          "B25058_001E", "B25064_001E",
                         "B25077_001E", "B25088_002E"), {'for': 'county:*'})
sandy_census_pd = pd.DataFrame(census_data)

sandy_census_pd = sandy_census_pd.rename(columns={"B25035_001E": "Median House Consturction",
                                                      "B25058_001E": "Median Contract Rent",
                                                      "B25064_001E": "Median Gross Rent",
                                                      "B25077_001E": "Median Home Value",
                                                      "B25088_002E": "Median Monthly Owner Cost",
                                                      "NAME": "Name", "county": "county"})
sandy_census_pd.head()

,Name,Median House Consturction,Median Contract Rent,Median Gross Rent,Median Home Value,Median Monthly Owner Cost,state,county
0,"Autauga County, Alabama",1990.0,624.0,836.0,137900.0,1235.0,01,001
1,"Baldwin County, Alabama",1994.0,686.0,874.0,172900.0,1391.0,01,003
2,"Barbour County, Alabama",1978.0,383.0,577.0,88700.0,921.0,01,005
3,"Bibb County, Alabama",1982.0,350.0,581.0,91600.0,1033.0,01,007
4,"Blount County, Alabama",1985.0,391.0,588.0,115200.0,1106.0,01,009

In [14]:
ac_df = sandy_census_pd.loc[sandy_census_pd["Name"] == "Atlantic County, New Jersey"]

ac_df

,Name,Median House Consturction,Median Contract Rent,Median Gross Rent,Median Home Value,Median Monthly Owner Cost,state,county
1535,"Atlantic County, New Jersey",1974.0,881.0,1017.0,248100.0,1966.0,34,001

In [15]:
census_data_carpool = c.acs5.get(("NAME", "B08136_003E", 
                          "B08136_004E", "B08136_007E"), {'for': 'county:*'})
                                 
sandy_carpool = pd.DataFrame(census_data_carpool)

sandy_carpool = sandy_carpool.rename(columns={"B08136_003E": " Solo Automobile",
                                                      "B08136_004E": "Carpool Automobile",
                                                      "B08136_007E": "Public Transport",
                                    "NAME": "Name", "county": "County"})
sandy_carpool.head()

,Name,Solo Automobile,Carpool Automobile,Public Transport,state,County
0,"Autauga County, Alabama",NaN,NaN,NaN,01,001
1,"Baldwin County, Alabama",1676265.0,252135.0,7990.0,01,003
2,"Barbour County, Alabama",NaN,NaN,NaN,01,005
3,"Bibb County, Alabama",NaN,NaN,NaN,01,007
4,"Blount County, Alabama",630085.0,131610.0,2845.0,01,009

In [16]:
sandy_carpool_df = sandy_carpool.loc[sandy_carpool["Name"] == "Atlantic County, New Jersey"]

sandy_carpool_df

,Name,Solo Automobile,Carpool Automobile,Public Transport,state,County
1535,"Atlantic County, New Jersey",2204705.0,265330.0,339710.0,34,001